<div class="alert alert-danger" v-if="errorMsg">
  Error: {{errorMsg}}
  <a class="close" v-on:click="clearErrorMsg">	<i class="fa fa-window-close-o"></i></a>
</div>
<div class="alert alert-success" v-if="msg">
  {{msg}}
  <a class="close" v-on:click="clearMsg">
    <i class="fa fa-window-close-o"></i>
  </a>
</div>

<div id="editor" v-if="file">
  <div class="banner">
    <input type="text" v-bind:value="file.name"/>
    <span class="buttons">
      <a v-on:click="save()">
	<i class="fa fa-save"></i>
	Save</a>
      <a v-on:click="close()">
	<i class="fa fa-window-close-o"></i>
	Close
      </a>
    </span>
  </div>

  <div id="editor-toolbar">
    <button class="toolbar-button">b</button>
  </div>
  
  <div id="editor-content">{{content}}</div>
</div>  
