<div id="editor" v-if="file">
  <div class="banner">

    <input type="text" v-model="filename" v-bind:value="file.name" v-if="isHtml || isMarkdown"/>

    <template v-if="isMeta">
      <h2>Metadata</h2>
      <input type="hidden" v-bind:value="file.name" v-model="filename">
    </template>
    
    <span class="buttons">
      <a v-on:click="save()">
	<i class="fa fa-save"></i>
	Save
      </a>
      <!--<a v-on:click="deleteFile(close)">-->
	<a class="file" v-on:click="deleteFile">
	<i class="fa fa-trash"></i>
	Delete
      </a>

      <a v-on:click="close()">
	<i class="fa fa-window-close-o"></i>
	Close
      </a>
    </span>
  </div>

  <div id="md-editor-toolbar" class="editor-toolbar" >
    <button class="toolbar-button" v-for="btn in buttons" v-on:click="btn.click()" v-bind:title="btn.label">
      <i class="fa" v-bind:class="btn.icon"></i>
    </button>
  </div>

  <div id="html-editor-toolbar" class="editor-toolbar" v-if="null">
    <button class="toolbar-button">b</button>
  </div>

  <div id="editor-content">{{content}}</div>
</div>  
