<div class="">

    <ul class="breadcrumbs" v-if="files">
      <li class="crumb" v-for="(index, crumb) in breadcrumbs">
	<template v-if="index < breadcrumbs.length - 1">
	  <a v-on:click="changePath(crumb.path)">{{crumb.crumb}}</a> /
	</template>
	<b v-if="index == breadcrumbs.length - 1">{{crumb.crumb}}</b>
      </li>
    </ul>

    <ul class="files" v-if="files">
      <li v-for="file in sortedFiles" v-bind:class="[file.class, {editing: isEditing(file)}]">
	<a v-on:click="file.click">
	  <i class="fa" v-if="file.icon" v-bind:class="file.icon"></i>
	  <span v-if="file.html" v-html="file.html(file)"></span>
	  <template v-if="!file.html">{{file.name()}}</template>
	</a>
	
      </li>
    </ul>

    <div>
      <a v-on:click="showAddFileForm">
	<i class="fa fa-plus"></i> file
      </a>
      <form v-if="addFileForm" v-on:submit.prevent="addFile">
	<input autofocus v-model="newFileName" type="text" v-on:blur="hideAddFileForm" />
	<button>Add</button>
      </form>
    </div>

          

</div>
