html,body {
    height: 100%;
}
body {
    background-color: #ccc;
}

#changeRepoForm {
    margin-bottom: 30px;
}

a {
    cursor: pointer; 
}
a:hover {
    text-decoration: none;
}
label {
    display: block;
}

#cover-image img {
   padding: 1em 0;
}
#cover-image img {
    width: 120px;
}

/* Headers */

h1 {
    font-size: 16pt;
    font-weight: bold;
}
h2 {
    font-size: 16pt;
    font-weight: normal;
}

/* Nav */

.side-panel .login {
    margin-top: 18pt;
}
.side-panel .username {
    font-weight: bold;
    margin-top: 18pt;
}
.select-repo {
    margin: 1.5em 0;
}
.select-repo select {
    padding: .6em;
    font-size: .9em;
    color: gray;
    background: #ccc;
    font-weight: bold;
}
ul.breadcrumbs {
    margin-top: 16pt;
}
ul.files, ul.breadcrumbs {
    padding: 0;
}
ul.breadcrumbs li {
    clear: both;
    list-style: none;
    display: inline;
    font-weight: bold;
}
ul.files li {
    list-style: none;
    padding: 0.6em 1em;
}
ul.files li.file {
    background: #ddd;
    border-top: 1px solid #ddd;
}
ul.files li.file.editing {
    background: pink;
}

ul.files li.metadata {
    background: beige;
    border-top: 1px solid #ddd;
}
ul.files li.directory {
    background: #ddd;
    border-top: 1px solid #eee;
}


/* Panels */

#container, .row, #editor {
}
.logo-panel {

}
.side-panel {

}
.edit-panel {
    padding: 0;
    margin: 2em 0;
}
#editor {
    background-color: white;
}
#editor .banner {
    margin: 0;
    padding: 1em;
    background: beige;
}
#editor .banner input {
    font-size: 16pt;
    background: beige;
    border: none;
    padding: .5em;
    width: 50%;
}
#editor .banner h2 {
    font-size: 16pt;
    padding: .5em;
    margin: 0;
    width: 50%;
    display: inline-block;
}
#editor .banner input:hover {
    background: #ddd;
}
#editor .banner .buttons {
    
}
.editor-toolbar {
    background: #cc9;
}
.editor-toolbar button {
    background: white;
    border: 1px solid gray;
    padding: 4px 8px;
    display: inline-block;
    margin: 4px;
    font-size: small;
    font-weight: bold;
}
#editor-content {
    padding: 2em;
}

/* Utilities */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Messages */

.loading {
    height: 1.5em;
}
ul.messages {
    margin: 0;
    padding: 0;
}
ul.messages li {
    list-style: none;
    padding: 8px;
    font-size: small;
}
ul.messages li.message {
    color: gray
    border-top: 1px dotted gray;
}

ul.messages li.error {
    border-top: 1px dotted red;
    color: red;
}