<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Github Explorer Blog</title>

    <link rel="stylesheet" href="css/app.min.css">
</head>

<body>  
  <div id="container">

    <div class="row">
      
      <div class="side-panel col-md-4">
	<h1>Quince
	  <span class="status">
	    <span class="glyphicon glyphicon-refresh spinning" v-if="loading"></span>
	    <span class="fa fa-check" v-if="message"
		  v-bind:title="message"></span>
	    <span class="fa fa-exclamation-circle error" v-if="error"
		  v-bind:title="error"></span>
	  </span>
	</h1>
	
	<div v-if="!token" class="login">
	  <button  v-on:click="loginGithub">Log In With GitHub</button>
	</div>

	<div v-if="token">
	  <div class="username">{{username}}</div>
	  
	  <div class="select-repo">
	    <select v-model="repo">
	      <option v-for="repo in repos" v-bind:value="repo">
		<template v-if="repo.split('/')[0] != username">
		  {{repo.split('/')[0]}} :: 
		</template>
		{{repo.split('/')[1]}}
	      </option>
	    </select>
	  </div>
	</div>

	<div v-if="repo && username">
          <github-file-explorer
	     :username="username" :repo="repo" :file-url="fileUrl" :token="token"
	     v-on:edit="editFile"
	     v-on:msg="displayMsg"
	     v-on:error="displayError"
	     v-on:loading="startLoading"
	     v-on:loaded="doneLoading"></github-file-explorer>
	</div>
	
	<div class="status">
	  


	</div><!-- .status -->
	
      </div>


      <div class="edit-panel col-md-8">
        <github-file-editor :file-url="fileUrl" :editor="editor"
			    :username="username" :repo="repo" :token="token"
			    v-on:close="fileUrl = null"
			    v-on:remove="removeFile"
			    v-on:add="addFile"
			    v-on:change="changeEditingFile"
			    v-on:msg="displayMsg"
			    v-on:error="displayError"
			    v-on:loading="startLoading"
			    v-on:loaded="doneLoading"></github-file-editor>
      </div>
    </div><!-- row -->
  </div><!-- container -->
    
  <script src="js/app.min.js"></script>
  
</body>
</html>
