<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Github Explorer Blog</title>

    <link rel="stylesheet" href="css/app.min.css">
</head>

<body>  
  <div id="container">

    <div class="row">
      
      <div class="side-panel col-md-4">
	<h1>Quince</h1>

	<div v-if="!token" class="login">
	  <button  v-on:click="loginGithub">Log In With GitHub</button>
	</div>

	<div v-if="token">
	  <div class="username">{{username}}</div>
	  
	  <div class="select-repo">
	    <select v-model="repo">
	      <option v-for="repo in repos" v-bind:value="repo">
		<template v-if="repo.split('/')[0] != username">
		  {{repo.split('/')[0]}} :: 
		</template>
		{{repo.split('/')[1]}}
	      </option>
	    </select>
	  </div>
	</div>


	<div v-if="repo && username">
          <github-file-explorer
	     :username="username" :repo="repo" :file-url="fileUrl" :token="token"
	     v-on:edit="editFile"
	     v-on:msg="displayMsg"
	     v-on:error="displayError"
	     v-on:loading="startLoading"
	     v-on:loaded="doneLoading"></github-file-explorer>
	</div>
	
	<div class="status">
	  
	  <div class="loading">
	    <span class="glyphicon glyphicon-refresh spinning" v-if="loading"></span>
	  </div>

	  <ul class="messages">
	    <li class="message" v-for="(index, msg) in messages" track-by="$index">
	      {{msg}}
	      <a class="close" v-on:click="clearMsg(index)">
		<i class="fa fa-window-close-o"></i>
	      </a>
	    </li>

	    <li  class="error" v-for="(index, error) in errors">
	      Error: {{error}}
	      <a class="close" v-on:click="clearError(index)">
		<i class="fa fa-window-close-o"></i>
	      </a>
	    </li>
	  </ul>

	</div><!-- .status -->
	
      </div>


      <div class="edit-panel col-md-8">
        <github-file-editor :file-url="fileUrl" :username="username" :repo="repo" :token="token"
			    v-on:close="fileUrl = null"
			    v-on:remove="removeFile"
			    v-on:add="addFile"
			    v-on:change="changeEditingFile"
			    v-on:msg="displayMsg"
			    v-on:error="displayError"
			    v-on:loading="startLoading"
			    v-on:loaded="doneLoading"></github-file-editor>
      </div>
    </div><!-- row -->
  </div><!-- container -->
    
  <script src="js/app.min.js"></script>
  <script src="js/editor.js"></script>
  
</body>
</html>
