<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Github Explorer Blog</title>

    <link rel="stylesheet" href="css/app.min.css">
</head>

<body>
  <div id="container">
    <div class="row">
      <div class="logo-panel col-md-1">
	<h1>Quince</h1>
      </div>
      <div class="side-panel col-md-3">

	<div class="alert alert-danger" v-if="errorMsg">Error: {{errorMsg}}</div>

	<div v-if="!loggedIn" class="login">
	  <button  v-on:click="login">Log In With GitHub</button>
	</div>

	<div v-if="loggedIn">

	  <div class="username">{{username}}</div>

	  <div class="select-repo">
	    <select v-model="repo">
	      <option v-for="repo in repos">{{repo}}</option>
	    </select>
	  </div>

	  <div v-if="repo">
            <github-file-explorer :username="username" :repo="repo" v-on:edit="editFile"></github-file-explorer>
	  </div>
	</div>
	</div>
      
      <div class="edit-panel col-md-7">
        <github-file-editor :file-url="fileUrl" :username="username" :repo="repo" :token="token"></github-file-editor>
      </div>
    </div>
  </div>
</div>
    
    <script src="js/app.min.js"></script>
    <script src="js/editor.js"></script>
    
</body>
</html>
